// Slider
.slider {
  background: $darker;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.slides {
  display: flex;
  left: 0%;
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
  transition: left $t ease;

  &.swiping {
    transition: none;
  }
}

.slide {
  position: relative;
  text-shadow: 0 2px 4px transparentize($darkest, .6);
}

.slide-image {
  display: block;
  opacity: .5;
  width: 100%;
}

.slide-title {
  color: $lightest;
  font-size: 4em;
  left: 0;
  margin: 0;
  padding: 50px 50px 0;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
}

.slide-content {
  bottom: 0;
  color: $lightest;
  left: 0;
  padding: 0 50px 50px;
  position: absolute;
  right: 0;
  text-align: center;

  p {
    font-size: 1.25em;
    font-weight: 200;
  }
}

// Slide navigation
.slider-prev,
.slider-next {
  background: transparentize($darker, .5);
  border-radius: 50%;
  box-shadow: none;
  font-size: 24px;
  height: 50px;
  line-height: 50px;
  margin-top: -25px;
  padding: 0;
  position: absolute;
  text-align: center;
  top: 50%;
  width: 50px;

  &:hover,
  &:focus {
    background-color: transparentize($darker, .25);
  }
}

.slider-prev {
  left: 15px;
}

.slider-next {
  right: 15px;
}
